# Tạo secret key bằng lệnh: npx auth secret
AUTH_SECRET="2203d46b0bde9ae6f040d6c6cadf10062bc97f889c28f68639c321fccb2f83b5"

# Lấy từ GitHub Developer Settings > OAuth Apps
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""